<ul id="article_show">
    <h1><%="Article: "%><%=@article.title%></h1>
    <p>
	Tags:
	<% @article.tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag) %>
	<% end %>
    </p>
	<%="Content:"%>
	<%=@article.body%>
<%= render partial: 'comments/form' %>

<h3>Comments</h3>
<% @article.comments.each do |comment| %>
<%= comment.author_name%><%= ":"%>
<%=comment.body %> &nbsp; <p>Posted <%= time_ago_in_words(comment.created_at) %><%=" ago"%><br>
<%end%>
</ul>
<br>
<%= link_to "edit", edit_article_path(@article) %>
<br>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article?"} %>
<br>
<%= link_to "<< Back to Articles List", articles_path %>


